<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div th:if="${log.empty}">
                    <p>De log is leeg.</p>
                </div>
                <table th:if="!${log.empty}" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Log regel</th>
                            <th>Tijdstempel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="l : ${log}">
                            <td th:text="${l.id}"></td>
                            <td th:text="${l.logLine}"></td>
                            <td th:text="${l.timestamp}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>