<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <footer>
        <div class="footer navbar-fixed-bottom" th:fragment="footer">
            <div class="container">
                <hr class="hrmarge" />
                <div class="row">
                    <div class="col-md-6">
                        <p>Deze website is een school project en bevat dus geen echte producten.</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>Gemaakt door Lennard Slabbekoorn, Matthijs Wilhelmus en Erik Koolen.</p>
                    </div>
                </div>
            </div>
        </div>
</footer>
</body>
</html>

