<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" th:fragment="header">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">De Hartige Supermarkt</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Producten <span class="sr-only">(current)</span></a></li>
                    <!--<li><a href="#">Link</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logging/log">Log</a></li>
                    <li><a href="/login">Login</a></li>

                    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>