<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <a href="/registration" class="btn btn-primary full-width">Registreren</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{/login}" method="POST" class="form-signin">
                <input type="text" id="email" name="email"  th:placeholder="E-mail" class="form-control" /> <br/>
                <input type="password"  th:placeholder="Wachtwoord" id="password" name="password" class="form-control" /> <br/>
                <div th:if="${param.error}" class="alert alert-error">
                    E-mail of wachtwoord is ongeldig.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    U bent uitgelogd.
                </div>
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="submit" th:text="Login"></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>