<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container-fluid">
    <div th:if="${order.orderLines.empty}" class="row">
        <div class="col-xs-12">
            <h3>Er zijn geen bestellingen gevonden in uw winkelwagen</h3>
        </div>
    </div>
    <div th:if="!${order.orderLines.empty}" class="row">
        <div class="col-xs-12">
            <h4 th:text="Bestelling voor: ${order.customer.username}"/>
            <h4 th:text="Bestelnummer: ${order.id}"/>
            <h4 th:text="Gewichtsklasse: ${order.weightClass}"/>
            <h4 th:text="Naam klant: ${order.customer.username}"/>
            <h4 th:text="E-mail klant: ${order.customer.email}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id:</th>
                    <th>Naam:</th>
                    <th>Omschrijving:</th>
                    <th>hoeveelheid:</th>
                    <th>Prijs:</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderLine : ${order.orderLines}">
                    <td th:text="${order.orderLine.id}"></td>
                    <td th:text="${order.orderLine.name}"></td>
                    <td th:text="${order.orderLine.description}"></td>
                    <td th:text="${order.orderLine.amount}"></td>
                    <td th:text="${order.orderLine.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <!-- add second optional table for extra order options -->
    <div class="row">
        <div class="col-xs-12">
            <form action="#" th:action="@{/orders/id}" method="put">
                <div th:switch="${order.weightClass}">
                    <p th:case="1">Snelle verzending: € 5,00</p>
                    <p th:case="2">Snelle verzending: € 8,00</p>
                    <p th:case="3">Snelle verzending: € 12,50</p>
                </div><br/>
                <input type="checkbox" name="fastShipping" value="0"/><br/>
                <p>Als u deze optie aanvinkt, dan wordt uw bestelling geprioriteerd boven de gewone bestellingen en hebt u uw bestelling altijd binnen 24u binnen en meestal zelfs binnen een halve dag</p>
                    <p>Bezorgen in verrassingsmand: € 3,50</p>
                    <input type="checkbox" name="giftWrapped" value="0"/><br/>
                    <p>Als u deze optie aanvinkt, dan wordt uw bestelling in een leuke verrassingsmand gebracht, ideaal voor als u een mandje met boodschappen wil samenstellen voor iemand als verrassing</p>
                <p>Vul hier een eventuele kortingscode in die aan dit account is gekoppeld</p>
                <input type="text" name="discount" value=""/><br/>
                <p>*Kortingscodes werken alleen als ze nog geldig zijn en aan het ingelogde account zijn gekoppeld</p>
            `   <button type="submit" value="Confirm order" class="btn btn-success">Bestelling bevestigen</button>
            </form>
        </div>
        <div class="row">
            <h4 th:text="Totaalprijs excl. btw: ${order.getTotalPriceExVat()}"></h4>
            <h4 th:text="Totaalprijs incl. btw: ${order.totalPrice}"></h4>
        </div>
    </div>
</div>
<footer class="footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>