<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <div class = "container-fluid">
        <div class = "row">
            <div class="col-xs-6 ">
                <h3>Informatie over bestelling</h3>
                <table class="table table-hover">
                   <tr>
                       <td><strong>Bestellingsnummer:</strong></td>
                       <td th:text="${order.id}"></td>
                   </tr>
                    <tr>
                        <td><strong>Gebruikersnaam klant:</strong></td>
                        <td th:text="${order.customer.username}"></td>
                    </tr>
                    <tr>
                        <td><strong>E-mail klant:</strong></td>
                        <td th:text="${order.customer.email}"></td>
                    </tr>
                    <tr>
                        <td><strong>Totaalprijs bestelling:</strong></td>
                        <td th:text="${order.customer.totalPrice}"></td>
                    </tr>
                    <tr>
                        <td><strong>Status bestelling:</strong></td>
                        <td th:text="${order.currentState.statusName}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class = "row">
            <div class = "col-xs-12">
                <h3>Informatie over bestelde producten</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Product:</th>
                        <th>Prijs:</th>
                        <th>Hoeveelheid:</th>
                        <th>Totaalprijs product:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orderLine : ${order.orderLines}">
                        <td th:text="${orderLine.product.name}"></td>
                        <td th:text="${orderLine.product.price}"></td>
                        <td th:text="${orderLine.amount}}"></td>
                        <td th:text="${orderLine.totalPrice}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>